<?xml version="1.0"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Load example URDF -->
  <param name="robot_description" textfile="$(find Assem_fnl)/urdf/Assem_fnl.urdf" />

    <!-- Load hardware interface -->
    <node name="Assem_fnl_hardware_interface" pkg="Assem_fnl_hardware_interface" type="Assem_fnl_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/>

    <!-- Load controller settings -->
    <rosparam file="$(find Assem_fnl_hardware_interface)/Assem_fnl_control/config/Assem_fnl_controllers.yaml" command="load"/>

    <!-- Load controller manager -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
	  output="screen" args="spawn joint_state_controller arm_controller Gripper_controller" />

    <node
       name="robot_state_publisher"
       pkg="robot_state_publisher"
       type="robot_state_publisher">
     <remap from="/joint_states" to="/Assem_fnl/joint_states"/>
   </node>

</launch>
