<launch>

  <include file="$(find Assem_fnl)/launch/gazebo.launch">
  </include>

  <include file="$(find Assem_fnl_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="publish_monitored_planning_scene" default="true"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find Assem_fnl_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="true"/>
  </include>

</launch>
